@font-face {
  font-family: Ubuntu;
  src: url(/font/Ubuntu-Regular.ttf);
}

* {
  font-family: Ubuntu;
}

/* Nav */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 0 10px #000;
  display: flex;
}

.navTitle {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
.navitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navitem:hover {
  background-color: #111;
  cursor: pointer;
}

/* Main Content */

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.card-seperator {
  background: linear-gradient(to right, #fff, #000, #fff);
  height: 1px;
  width: 100%;
  margin: 10px 0;
}
